<!DOCTYPE html>
<html lang>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="<%= image_url('favicon.ico') %>">
    <title>Golden Sneaker</title>
    <%= stylesheet_link_tag "styles.css" %>
</head>
<body>
    <h1>hello</h1>
</body>
</html>